{% extends 'base.html' %} {% block title %}
<title>Twitter</title>
{% endblock title %} {% block content %}
<div class="container">
  <br />
  <div class="col-9 offset-md-3">
    {% if messages %} {% for message in messages %}
    <div class="alert alert-info alert-dismissible fade show" role="alert">
      {{ message }}
      <button
        type="button"
        class="btn-close"
        data-bs-dismiss="alert"
        aria-label="Close"
      ></button>
    </div>
    {% endfor %} {% endif %} {% if allTweets %} {% for obj in allTweets %}
    <div class="card w-75">
      <div class="card-body">
        <h5 class="card-title">
          {{obj.manage.first_name}} {{obj.manage.last_name}}
          <span class="fs-6 text-primary"> @{{obj.manage}} </span>
        </h5>
        <p class="card-text">{{obj.tweet}}</p>
        <a href="#" class="btn btn-primary">Button</a>
      </div>
    </div>
    <br />
    {% endfor %} {% endif %}

    <nav aria-label="Page navigation example">
      <ul class="pagination">
        <li class="page-item">
          <a class="page-link" href="?pg=1" aria-label="Previous">
            <span aria-hidden="true">&laquo;</span>
          </a>
        </li>
        {% if allTweets.has_previous %}
        <li class="page-item">
          <a class="page-link" href="?pg={{ allTweets.previous_page_number }}"
            >{{ allTweets.previous_page_number }}</a
          >
        </li>
        {% endif %}
        <li class="page-item">
          <a class="page-link" href="?pg={{ allTweets.number }}"
            >{{ allTweets.number }}</a
          >
        </li>
        {% if allTweets.has_next %}
        <li class="page-item">
          <a class="page-link" href="?pg={{ allTweets.next_page_number }}"
            >{{ allTweets.next_page_number }}</a
          >
        </li>
        {% endif %}
        <li class="page-item">
          <a
            class="page-link"
            href="?pg={{ allTweets.paginator.num_pages}}"
            aria-label="Next"
          >
            <span aria-hidden="true">&raquo;</span>
          </a>
        </li>
      </ul>
    </nav>
  </div>
</div>
{% endblock content %}
