{% extends 'base.html' %} {% block title %}
<title>My Tweets</title>
{% endblock title %} {% block content %}
<div class="container">
  <br />
  <div class="col-9 offset-md-3">
    {% if myTweets %} {% for obj in myTweets %}
    <div class="card w-75">
      <div class="card-body">
        <h5 class="card-title">Card title</h5>
        <p class="card-text">{{obj.tweet}}</p>
        <a href="{% url 'deleteTweet' obj.id %}" class="btn btn-danger"
          >Delete Tweet</a
        >
      </div>
    </div>
    <br />
    {% endfor %} {% endif %}
    <nav aria-label="Page navigation example">
      <ul class="pagination">
        <li class="page-item">
          <a class="page-link" href="?pg=1" aria-label="Previous">
            <span aria-hidden="true">&laquo;</span>
          </a>
        </li>
        {% if myTweets.has_previous %}
        <li class="page-item">
          <a class="page-link" href="?pg={{ myTweets.previous_page_number }}"
            >{{ myTweets.previous_page_number }}</a
          >
        </li>
        {% endif %}
        <li class="page-item">
          <a class="page-link" href="?pg={{ myTweets.number }}"
            >{{ myTweets.number }}</a
          >
        </li>
        {% if myTweets.has_next %}
        <li class="page-item">
          <a class="page-link" href="?pg={{ myTweets.next_page_number }}"
            >{{ myTweets.next_page_number }}</a
          >
        </li>
        {% endif %}
        <li class="page-item">
          <a
            class="page-link"
            href="?pg={{ myTweets.paginator.num_pages}}"
            aria-label="Next"
          >
            <span aria-hidden="true">&raquo;</span>
          </a>
        </li>
      </ul>
    </nav>
  </div>
</div>
{% endblock content %}
